$background: #181618;
$accent: #144C2A;
$text: #EFEFEF;
$text-darken: #dadada;
$primary: #1D1D1D;
$secondary: #2C2C2C;

//Code
$code-title: #f7f7ff;
$code-variable: #ff6863;
$code-variable-name: #b175f5;
$code-variable-type: #fbb4b3;
$code-variable-extension: #dcbbfe;
$code-angle: #292824;
$code-bracket: #292824;
$code-semicolon: #292824;
$code-variable-start: #292824;