$background: #E9E7E9;
$accent: #B2EBC9;
$text: #0F0F0F;
$text-darken: #222222;
$primary: #E3E3E3;
$secondary: #2C2C2C;

//Code
$code-title: #00000A;
$code-variable: #9E0500;
$code-variable-name: #460A8A;
$code-variable-type: #4E0504;
$code-variable-extension: #240146;
$code-angle: #DBDAD6;
$code-bracket: #DBDAD6;
$code-semicolon: #DBDAD6;
$code-variable-start: #DBDAD6;